
  <div id="main-container">
      <header>

          <div id="cont-title" >
                  <img src="./assets/Logo.png" alt="" >
          </div>
      </header>
      <br>
      <br>
      <br>
      <div class="form-container">
        <div class="body-form">
          <span style="color: black;" *ngIf="enviado && createCosa.invalid "> Todos los campos son requeridos. </span>
          <span style="color: black;" *ngIf="enviado && createCosa.valid "> Se creo exitosamente </span>
          <form action="" [formGroup]="createCosa" (ngSubmit)="agregarCosa()">
                <div class="form">
            <h1>{{titulo}}</h1>


                <input class="form-control" type="number" formControlName="codigo" placeholder="Codigo">
                <br>
                <input class="form-control" type="text" formControlName="nombre" placeholder="Nombre">
                <br>

                <input class="form-control" type="text" formControlName="apellido" placeholder="Apellido">
                <br>

                <input class="form-control" type="text" formControlName="curso" placeholder="Curso">

                <br>

                <button type="submit" class="btn" routerLink="/lista-cosas">Volver</button>
                <br>

                <button type="submit" class="btn">Crear</button>
              </div>
          </form>
        </div>
      </div>
  </div>


<br>
<br>
<br>
<footer >
        <p class="m-0 text-center text-black ">Copyright &copy; Fundación Universitaria Konrad Lorenz | 2021</p>
</footer>
