


<body>
  <div id="main-container">
      <header>

          <div id="cont-title" >
                  <img src="./assets/Logo.png" alt="" >
          </div>
      </header>
      <br>
      <br>
      <br>
      <br>

      <div class="form-container">

  <div class="body-form">
    <form>
        <div class="form">


            <h1>REGISTRO</h1>
            <hr>
            <div class="imgs">
              <img src="./assets/Icono-l.png">
          </div>

  <button (click)="loginGoogle()" class="btn">Iniciar sesión o registrarse con Google</button>
  <br>
  <br>
  <button routerLink="/email-login" class="btn">Correo</button>
  <br>
  <br>

  <a routerLink="/signup" routerLinkActive="active" class="btn" >¿No tiene cuenta?
    <br>
     <strong>Cree una aquí</strong></a>
        </div>
    </form>
  </div>
</div>
<footer  >
      <p >Copyright &copy; Fundación Universitaria Konrad Lorenz 2021</p>
</footer>
