<div class="form-container">
  <div class="body-form">
    <form action="index.html" id="form">
        <div class="form">
            <h1>REGISTRO</h1>
            <hr>
            <div class="grupo">
  <button (click)="loginGoogle()" class="btn">Iniciar sesión o registrarse con Google</button>
  <br>
  <br>
  <button routerLink="/email-login" class="btn">Correo</button>
  <br>
  <br>

  <a routerLink="/signup" routerLinkActive="active" class="btn" >¿No tiene cuenta?
    <br>
     <strong>Cree uno aquí</strong></a>
        </div>
        </div>
    </form>
  </div>
</div>
