

<body>
    <div id="main-container">
        <header>

            <div id="cont-title" >
                    <img src="./assets/Logo.png" alt="" >
            </div>
        </header>
        <br>
        <br>
        <br>
                <div class="title">
            <h2>Estudiante</h2>
        </div>


    <button class="btn-2" routerLink="/nueva-cosa">Nuevo</button>
        <br>
        <br>
        <br>

        <div class="body-form">
                    <table class="table table-hover m">
                        <thead>
                            <tr>
                                <th scope="col">CODIGO</th>
                                <th scope="col">NOMBRES</th>
                                <th scope="col">APELLIDOS</th>
                                <th scope="col">CURSO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-primary">


                                <td *ngFor="let item of ListaCosas | async">{{item.nombre}}</td>

                                <td *ngFor="let item of ListaCosas | async"> {{item.cantidad}} </td>

                                <td>

                                  <li class="fas fa-edit fa-lg text-info" style="margin-right: 5px;"></li>

                                  <li class="fas fa-trash-alt fa-lg text-danger"></li>

                                </td>

                              </tr>

                            <tr class="table-secondary">
                                <th scope="row">2</th>
                                <td>Aubert Pinot Noir Sonoma Coast UV Vineyard.</td>
                                <td>2018</td>
                                <td>532</td>
                                <td>312</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    <br>
    <br>
    <br>
    <br>
    <footer >
            <p class="m-0 text-center text-black ">Copyright &copy; Fundación Universitaria Konrad Lorenz | 2021</p>
    </footer>
</body>

