      <header>

          <div id="cont-title" >
                  <img src="./assets/Logo.png" alt="" >
          </div>
      </header>
      <br>
      <br>
      <br>
      <br>

<div class="form-container">
  <div class="body-form">

  <form #formData='ngForm'(ngSubmit)="onSubmit(formData)">
    <div class="form">

  <h2>INSCRÍBETE</h2>
  <hr>
  <br>
  <br>
  <input type="text" placeholder="Dirección de correo electrónico" (ngModel)="email" name="email" class="input" required>
  <br>
  <input type="password" placeholder="Contraseña" (ngModel)="password" name="password" class="input" required>
  <br>
    <button type="submit" [disabled]="!formData.valid" class="btn" routerLink="/email-login">Crear una cuenta</button>
    </div>
  </form>
  </div>

  <footer>
        <p class="m-0 text-center text-black ">Copyright &copy; Fundación Universitaria Konrad Lorenz | 2021</p>
  </footer>





</div>
<a routerLink="/login" id="goback">Login</a>
